.ME {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(350px, 400px));
  height: 100vh;
  overflow: hidden;
}
@media (max-height: 870px) {
  .ME{
  height: 100%;
}
}
.card_presetantion {
  width: 80%;
  height: 64%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 1.5em;
  background-color: #181823;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
  grid-row: 1/3;
  align-self: start;
  z-index: 999;
  margin-top: 3em;
}

.back-photo {
  height: 60%;
  width: 100%;
}
.photo {
  width: 315px;
  height: 314px;
  display: flex;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 21px 14px rgba(148, 148, 148, 0.473);
}
.photo > img {
  object-fit: contain;
}
.Containt__Title {
  width: 90%;
  height: 190px;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}
.Span__Title {
  color: rgba(79, 173, 79, 0.815);
}
.Containt__P {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5em;
}
.experience_home {
  height: 80px;
  width: 200px;
  border-radius: 1em;
  background-color: rgba(79, 173, 79, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 5em;
}
.experience_home:hover {
  background-color: #181823;
  transition: all 0.5s;
  color: white;
  scale: 1.1;
}
.work_home {
  height: 80px;
  width: 200px;
  border-radius: 1em;
  background-color: rgba(79, 173, 79, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 5em;
  cursor: pointer;
}
.work_home:hover {
  background-color: #181823;
  transition: all 0.5s;
  color: white;
  scale: 1.1;
}
.lenguaje_home {
  height: 80px;
  width: 200px;
  border-radius: 1em;
  background-color: rgba(79, 173, 79, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: flex-end;
  grid-column: 1/2;
  grid-row: 2/3;
  cursor: pointer;
}
.lenguaje_home:hover {
  background-color: #181823;
  transition: all 0.5s;
  color: white;
  scale: 1.1;
}
.contact_home {
  height: 80px;
  width: 200px;
  border-radius: 1em;
  background-color: rgba(79, 173, 79, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: flex-end;
  grid-column: 2/3;
  grid-row: 2/3;
  cursor: pointer;
  margin-top: 5em;
}
.contact_home:hover {
  background-color: #181823;
  transition: all 0.5s;
  color: white;
  scale: 1.1;
}
@media (min-width: 700px) {
  .card_presetantion {
    width: 85%;
    max-width: 750px;
    height: 90%;
    max-height: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 60%;
    background-color: #181823;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/3;
    align-self: center;
    z-index: 999;
  }
  .experience_home {
    height: 100px;
    width: 250px;
    background-color: rgba(79, 173, 79, 0.815);
    border-radius: 109% / 366% 363% 3% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    align-self: flex-end;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: -9%;
    margin-bottom: 0%;
    cursor: pointer;
    position: relative;
    right: 38%;
    bottom: 35%;
    animation: transtion-left infinite 8s;
    animation-play-state: running;
    transform: rotate3d(0, 0, 1, -59deg);
  }
  .experience_home:hover {
    background-color: #181823;
    transition: all 2.5s;
    color: white;
    animation-play-state: paused;
  }
  .work_home {
    height: 100px;
    width: 250px;
    background-color: rgba(79, 173, 79, 0.815);
    border-radius: 109% / 366% 363% 3% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: start;
    align-self: flex-end;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: -8%;
    margin-bottom: -0%;
    cursor: pointer;
    position: relative;
    right: -12%;
    bottom: 35%;
    animation: transtion-right infinite 8s;
    transform: rotate3d(0, 0, 1, 55deg);
  }
  .work_home:hover {
    background-color: #181823;
    transition: all 2.5s;
    color: white;
    animation-play-state: paused;
  }
  .lenguaje_home {
    height: 100px;
    width: 250px;
    background-color: rgba(79, 173, 79, 0.815);
    border-radius: 109% / 366% 363% 3% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: start;
    align-self: flex-start;
    grid-column: 3/4;
    grid-row: 2/3;
    margin-left: -8%;
    margin-bottom: 0%;
    cursor: pointer;
    position: relative;
    right: -12%;
    bottom: -35%;
    animation: transtion-right-down infinite 8s;
    transform: rotate3d(0, 0, 1, 125deg);
  }
  .lenguaje_home:hover {
    background-color: #181823;
    transition: all 2.5s;
    color: white;
    animation-play-state: paused;
  }
  .contact_home {
    height: 100px;
    width: 250px;
    background-color: rgba(79, 173, 79, 0.815);
    border-radius: 109% / 366% 363% 3% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    align-self: flex-start;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: -13%;
    margin-bottom: 0%;
    cursor: pointer;
    position: relative;
    right: 12%;
    bottom: -35%;
    animation: transtion-left-down infinite 8s;
    transform: rotate3d(0, 0, 1, -125deg);
  }
  .contact_home:hover {
    background-color: #181823;
    transition: all 2.5s;
    color: white;
    animation-play-state: paused;
  }
 
  .Containt__Title {
    margin-top: 2em;
    height: 200px;
    width: 60%;
    font-size: 1.5rem;
  }
  .Containt__P {
    margin-bottom: 1em;
    padding-top: 0;
    width: 60%;
    font-size: 1.2rem;
  }
}

@media (min-width: 800px){
  .experience_home{
    margin-right: 1%;
    margin-bottom: -5%;
    transform: rotate3d(0, 0, 1, -61deg);
  }
  .work_home{
    margin-left: 2%;
    margin-bottom: -5%;
    transform: rotate3d(0, 0, 1, 61deg);
  }
  .lenguaje_home{
    margin-left: -3%;
  }
  .contact_home{
    margin-right: -8%;
    transform: rotate3d(0, 0, 1, -135deg);
  }
  }

  @media (min-width: 1000px){
    .experience_home{
      margin-right: -18%;
    }
    .work_home{
      margin-left: -18%;
    }
    .lenguaje_home{
      margin-left: -23%;
      transform: rotate3d(0, 0, 1, 123deg);
    }
    .contact_home{
      margin-right: -25%;
      transform: rotate3d(0, 0, 1, -130deg);
    }
    }


  @media (min-width: 1200px){
    .experience_home{
      margin-right: -18%;
    }
    .work_home{
      margin-left: -18%;
    }
    .lenguaje_home{
      margin-left: -23%;
      transform: rotate3d(0, 0, 1, 123deg);
    }
    .contact_home{
      margin-right: -25%;
      transform: rotate3d(0, 0, 1, -130deg);
    }

    @media (min-width: 1300px){
      .experience_home{
        margin-right: -25%;
        margin-bottom: -5%;

      }
      .work_home{
        margin-left: -25%;
        margin-bottom: -5%;

      }
      .lenguaje_home{
        margin-left: -31%;

      }
      .contact_home{
        margin-right: -31%;
        margin-top: 5%;
      }
      }
    }



  @media (max-height: 870px){
    @media (min-width: 700px) {
      .experience_home {
        margin-right: 1%;
        margin-bottom: -11%;
      }
  
      .work_home {
        margin-left: 1%;
        margin-bottom: -11%;
      }

      .lenguaje_home {
        margin-left: 0%;

      }

 
      .contact_home {
        margin-right: -5%;
      }
    
    }
    
    @media (min-width: 900px){
      .experience_home{
        margin-right: 9%;
    margin-bottom: -15%;
      }
      .work_home{
        margin-left: 9%;
        margin-bottom: -15%;
      }
      .lenguaje_home{
        margin-left: 2%;
      }
      .contact_home{
        margin-right: 0%;
        transform: rotate3d(0, 0, 1, -124deg);
      }
      }
    
      @media (min-width: 1000px){
        .experience_home{
          margin-right: 4%;
        }
        .work_home{
          margin-left: 4%;
        }
        .lenguaje_home{
          margin-left: -4%;
        }
        .contact_home{
          margin-right: -4%;
        }
        }
    
    
      @media (min-width: 1200px){
        .experience_home{
          margin-right: -6%;
        }
        .work_home{
          margin-left: -6%;
        }
        .lenguaje_home{
          margin-left: -12%;
        }
        .contact_home{
          margin-right: -12%;
        }
        }
        @media (min-width: 1300px){
          .experience_home{
            margin-right: -15%;
            margin-bottom: -10%;

          }
          .work_home{
            margin-left: -15%;
            margin-bottom: -10%;

          }
          .lenguaje_home{
            margin-left: -22%;
          }
          .contact_home{
            margin-right: -20%;
            margin-top: 15%;
          }
          }


    }

@keyframes transtion-left {
  0% {
    background-color: #181823;
    color: white;
    right: 10%;
    bottom: 35%;
  }
  50% {
    background-color: rgba(79, 173, 79, 0.815);
    color: white;
    right: 2.5%;
    bottom: 50%;
    transform: rotate3d(0, 0, 1, -50deg);
  }

  100% {
    background-color: #181823;
    color: white;
    right: 10%;
    bottom: 35%;
  }
}
@keyframes transtion-left-down {
  0% {
    background-color: #181823;
    color: white;
    right: 10%;
    bottom: -35%;
  }
  50% {
    background-color: rgba(79, 173, 79, 0.815);
    color: white;
    right: 2.5%;
    bottom: -45%;
    transform: rotate3d(0, 0, 1, -134deg);
  }

  100% {
    background-color: #181823;
    color: white;
    right: 10%;
    bottom: -35%;
  }
}
@keyframes transtion-right {
  0% {
    background-color: rgba(79, 173, 79, 0.815);
    color: white;
    right: -10%;
    bottom: 35%;
  }
  50% {
    background-color: #181823;
    color: white;
    right: -5%;
    bottom: 45%;
    transform: rotate3d(0, 0, 1, 55deg);
  }

  100% {
    background-color: rgba(79, 173, 79, 0.815);
    color: white;
    right: -10%;
    bottom: 35%;
  }
}
@keyframes transtion-right-down {
  0% {
    background-color: rgba(79, 173, 79, 0.815);
    color: white;
    right: -15%;
    bottom: -45%;
  }
  50% {
    background-color: #181823;
    color: white;
    right: -3%;
    bottom: -60%;
    transform: rotate3d(0, 0, 1, 129deg);
  }
  100% {
    background-color: rgba(79, 173, 79, 0.815);
    color: white;
    right: -15%;
    bottom: -45%;
  }
}