.Navbar {
  width: 40%;
  min-width: 600px;
  height: 70px;
  display: flex;
  justify-content: space-between;

  border-radius: 1.5em;
  position: fixed;

  visibility: hidden;
}
.navbarActiveScroll {
  position: fixed;
  bottom: 15px;
  width: 89%;
  max-width: 600px;
  left: 7%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 99999;
  transition: 0.5s;
  border-radius: 1.5em;
  transition: all 0.5s;
  background-color: rgb(19, 66, 19);
  visibility: visible;
}
.contain_Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #181823;
  padding-left: 1em;
}
.Logo {
  cursor: pointer;
}
.contain_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  padding-right: 1em;
}
.bx-menu-alt-right {
  font-size: 2em;
  color: #181823;
  cursor: pointer;
}
.menuItem__Desktop:hover {
  color: #09ff46;
  transition: 0.5s;
}
.Contanct__Desktop:hover {
  color: #09ff46;
  text-decoration: none;
  transition: 0.5s;
}
.Logo:hover {
  color: #09ff46;
  transition: 0.5s;
}

@media (min-width: 467px) {
  .Navbar {
    height: 70px;
    justify-content: space-between;
  }
  .MenuforDesktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-right: 0.5em;
  }
  .menuItem__Desktop {
    color: #ffffff;
    text-decoration: none;
  }
  .Contanct__Desktop {
    color: #ffffff;
    text-decoration: none;
  }
}
@media (min-width: 700px) {
  .Navbar {
    height: 70px;
  }
  .MenuforDesktop {
    display: flex;
    z-index: 99999;
    justify-content: space-between;
    gap: 1.5em;
    padding-right: 1.5em;
    font-size: 1rem;
  }
  .Contanct__Desktop {
    color: #ffff;
    text-decoration: none;
    background: #181823;
    padding: 1.5em;
  }
  .navbarActiveScroll {
    left: 35%;
  }
}
