.containt__works {
  background-color: black;
  gap: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Containt_text {
  width: 100%;
  background-color: black;
  text-align: center;
}
.Title {
  padding-left: 0.5em;
  color: #8491a0;
}
.Text__for__work {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 0.5em;
  color: white;
}
.Contain__works {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  justify-content: center;
}
.works {
  width: 100%;
  height: 100%;
  max-width: 400px;
  min-height: 600px;
  background-color: #181823;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  overflow: auto;
}
.image__work,
.image__work-galleta,
.image__work-wheater,
.image__work-rickandmorty {
  background-image: url("/Ecomerce.png");
  background-position: center;
  background-size: 100%;
  height: 300px;
}
.Texts__work {
  height: 100%;
  background-color: #181823;
}
.Name__work {
  font-size: 1.5rem;
  padding-left: 0.5em;
  color: white;
  font-weight: 700;
  padding-top: 1em;
  cursor: pointer;
  display: block;
  width: 270px;
}
.Text__work {
  color: #8491a0;
  font-size: 1.3rem;
  padding: 1em;
}
.image__work-galleta {
  background-image: url("/galleta_de_la_fortuna.png");
}
.image__work-wheater {
  background-image: url("/wheater_app.png");
}
.image__work-rickandmorty {
  background-image: url("/rickandmorty.png");
}

.Name__work:hover {
  color: #5221e6;
  transition: 0.5s;
  font-size: 2rem;
  width: 500px;
}
.slider_works {
  display: flex;
  gap: 1em;
  flex-direction: column;
}
@media (min-width: 700px) {
  .page_work {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .image__work,
  .image__work-galleta,
  .image__work-wheater,
  .image__work-rickandmorty {
    background-position: center;
    background-size: 160%;
    height: 80%;
  }
  .containt__works {
    width: 100%;
    min-width: 600px;
    max-width: 85%;
    position: relative;
    overflow: hidden;
    display: flex;

    align-items: start;
  }
  .slider_btn {
    width: 1.5em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    z-index: 1;
    cursor: pointer;
  }
  .slider_btn:hover {
    filter: brightness(1.2);
  }
  .slider_right {
    right: 0;
  }
  .slider_left {
    left: 0;
  }
  .Title {
    font-size: 1.2rem;
  }
  .Containt_text {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: stretch;
  }
  .Text__for__work {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .slider_works {
    display: flex;
    flex-direction: row;
    transition: transform 500ms ease;
    gap: 8em;
    padding-left: 6em;
  }
  .works {
    width: 400px;
    height: 100px;
    border-radius: 2em;
  }
}
@media (min-width: 1000px) {
  .image__work,
  .image__work-galleta,
  .image__work-wheater,
  .image__work-rickandmorty {
    background-position: center;
    background-size: 110%;
    height: 80%;
  }
}

@media (min-width: 1500px) {
  .image__work,
  .image__work-galleta,
  .image__work-wheater,
  .image__work-rickandmorty {
    height: 170%;
    background-size: 100%;
  }
}
