* {
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
body {
  margin: 0;
}
body::-webkit-scrollbar {
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(79, 173, 79, 0.815);
  border-radius: 7px;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  list-style: none;
}
input,
button {
  border: none;
  font-family: inherit;
}
input {
  outline: none;
}
img {
  width: 100%;
  display: block;
}
